@import url('//fonts.googleapis.com/css2?family=Ephesis&family=Jaro:opsz@6..72&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('//fonts.googleapis.com/css2?family=Ephesis&family=Jaro:opsz@6..72&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    /* position: relative; */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-image: url('./assets/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text{
    margin: 0 auto;
    margin-top: 1rem;
    /* max-width: 800px;
    max-height: max-content; */
    color: #f51a16;
    font-weight: 700;
    text-shadow: 4px 4px 3px #333;
    font-size: 11rem;
    
}

.jaro-font{
    font-family: "Jaro", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: 7rem;
  }


.countdown {
    position: relative;
    display: flex;
    gap: 10px;
   
    color: #333;
    width: 100%;
    justify-content: center;
    margin: 20px;
    max-width: 800px;
}

.time-box {
    padding: 2rem 1rem 0.2rem 1rem;; 
    border-radius: 5px;
    background-color: #f51a16;
    color: whitesmoke;
    margin: 0px 25px;
    text-align: center;
    width: 9rem;
    box-shadow: 5px 5px 5px rgb(243, 240, 45);
}

.day{
    border-radius: 27% 60% 5px 10px;
}

.hour{
    border-radius: 66% 33% 5px 10px;
}

.minute{
    border-radius: 99% 50% 5px 10px;
}

.second{
    border-radius: 35% 45% 5px 10px;
}

.time-unit{
    font-size: 3rem;
    color: rgb(241, 166, 66);
    text-align: center;
    text-shadow: 2px 2px  rgb(99, 5, 5);
}

.montserrat-font {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
   
    font-style: normal;
  }
  

.ephesis-regular {
    font-family: "Ephesis", serif;
   
    font-style: normal;

}


@media (max-width: 768px) {
    .time-box {
        font-size: 1.5em;
        padding: 15px;
    }
    .time-unit {
        font-size: 0.8em;
    }
    .text {
        font-size: 6rem;
    }
}

@media (max-width: 480px) {
    .time-box {
        font-size: 1em;
        padding: 10px;
    }
    .time-unit {
        font-size: 0.6em;
    }
    .text {
        font-size: 4rem;
    }
}